<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsPNRReadSoap"/>
                <binding name="wsCrypticSoap"/>
                <binding name="wsQueueSoap"/>
                <binding name="wsUpdateSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="wsCrypticSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="wsPNRReadSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="wsQueueSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="wsUpdateSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kiev/tripxml/wsqueue.asmx" binding="basicHttpBinding" bindingConfiguration="wsQueueSoap" contract="Queue.wsQueueSoap" name="wsQueueSoap"/>
            <endpoint address="http://kiev/tripxml/wsqueue.asmx" binding="customBinding" bindingConfiguration="wsQueueSoap12" contract="Queue.wsQueueSoap" name="wsQueueSoap12"/>
            <endpoint address="http://kiev/tripxml/wsupdate.asmx" binding="basicHttpBinding" bindingConfiguration="wsUpdateSoap" contract="Update.wsUpdateSoap" name="wsUpdateSoap"/>
            <endpoint address="http://kiev/tripxml/wsupdate.asmx" binding="customBinding" bindingConfiguration="wsUpdateSoap12" contract="Update.wsUpdateSoap" name="wsUpdateSoap12"/>
            <endpoint address="http://kiev/tripxml/wsCryptic.asmx" binding="basicHttpBinding" bindingConfiguration="wsCrypticSoap" contract="Cryptic.wsCrypticSoap" name="wsCrypticSoap"/>
            <endpoint address="http://kiev/tripxml/wsCryptic.asmx" binding="customBinding" bindingConfiguration="wsCrypticSoap12" contract="Cryptic.wsCrypticSoap" name="wsCrypticSoap12"/>
            <endpoint address="http://kiev/tripxml/wspnrread_v05.asmx" binding="basicHttpBinding" bindingConfiguration="wsPNRReadSoap" contract="PNRRead.wsPNRReadSoap" name="wsPNRReadSoap"/>
            <endpoint address="http://kiev/tripxml/wspnrread_v05.asmx" binding="customBinding" bindingConfiguration="wsPNRReadSoap12" contract="PNRRead.wsPNRReadSoap" name="wsPNRReadSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
