<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Galileo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Galileo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <Galileo.Properties.Settings>
      <setting name="Galileo_wsGalileoCopy_XmlSelect" serializeAs="String">
        <value>https://americas.copy-webservices.travelport.com/B2BGateway/service/XMLSelect</value>
      </setting>
    </Galileo.Properties.Settings>
    <Galileo.My.MySettings>
      <setting name="Galileo_wsGalileoCopy_XmlSelect" serializeAs="String">
        <value>https://americas.copy-webservices.travelport.com/B2BGateway/service/XMLSelect</value>
      </setting>
    </Galileo.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XmlSelectSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="XmlSelectSoap1"/>
        <binding name="XmlSelectSoap2">
          <security mode="Transport"/>
        </binding>
        <binding name="XmlSelectSoap3"/>
        <binding name="HotelImageServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="HotelImageServiceSoap1"/>
        <binding name="HotelImageServiceSoap2">
          <security mode="Transport"/>
        </binding>
        <binding name="HotelImageServiceSoap3"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://americas.copy-webservices.travelport.com/B2BGateway/service/XMLSelect" binding="basicHttpBinding" bindingConfiguration="XmlSelectSoap" contract="wsGalileoProd.XmlSelectSoap" name="XmlSelectSoap"/>
      <endpoint address="https://americas.copy-webservices.travelport.com/B2BGateway/service/XMLSelect" binding="basicHttpBinding" bindingConfiguration="XmlSelectSoap2" contract="wsGalileoCopy.XmlSelectSoap" name="XmlSelectSoap1"/>
      <endpoint address="https://americas.webservices.travelport.com/B2BGateway/service/ImageViewer" binding="basicHttpBinding" bindingConfiguration="HotelImageServiceSoap" contract="wsGalileoProdIV.HotelImageServiceSoap" name="HotelImageServiceSoap"/>
      <endpoint address="https://americas.webservices.travelport.com/B2BGateway/service/ImageViewer" binding="basicHttpBinding" bindingConfiguration="HotelImageServiceSoap2" contract="wsGalileoCopyIV.HotelImageServiceSoap" name="HotelImageServiceSoap1"/>
    </client>
  </system.serviceModel>
</configuration>
