<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!--
    <add key="TripXMLFolder" value="G:\inetpub\wwwroot\TripXML" />
    -->
		<add key="TripXMLFolder" value="C:\inetpub\wwwroot\TripXML" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ConnectionString" value="Data Source=data.downtowntravel.com,1435;initial Catalog=TripXML;User ID=ttlog;Password=tripxml;Connect Timeout=15; Pooling=true;Max Pool Size=2048;Min Pool Size=20;"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="Server" value="tripxml.downtowntravel.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="Database" value="TripXML"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="User" value="ttlog"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="Password" value="tripxml"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="TripXMLLogFolder" value="C:\TripXML\Log"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="VCCApiBaseUrl" value="http://tripxml.downtowntravel.com:8811"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="VCCUsername" value="TripXML"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="VCCPassword" value="password"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint address="https://tripxml.downtowntravel.com/tripxml/wscryptic.asmx" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" binding="basicHttpBinding" bindingConfiguration="wsCrypticSoap" contract="Cryptic.wsCrypticSoap" name="wsCrypticSoap" />
			<endpoint address="https://tripxml.downtowntravel.com/tripxml/wsqueue.asmx" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" binding="basicHttpBinding" bindingConfiguration="wsQueueSoap" contract="Queue.wsQueueSoap" name="wsQueueSoap" />
			<endpoint address="https://tripxml.downtowntravel.com/tripxml/wsupdate.asmx" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" binding="basicHttpBinding" bindingConfiguration="wsUpdateSoap" contract="Update.wsUpdateSoap" name="wsUpdateSoap" />
			<endpoint address="http://ukraine/tripxml/wspnrread_v05.asmx" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" binding="basicHttpBinding" bindingConfiguration="wsPNRReadSoap" contract="PNRRead.wsPNRReadSoap" name="wsPNRReadSoap" />
			<endpoint address="http://tripxml.downtowntravel.com/tripxml/wscurconv.asmx" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" binding="basicHttpBinding" bindingConfiguration="wsCurConvSoap" contract="CurrencyService.wsCurConvSoap" name="wsCurConvSoap" />
		</client>
	</system.serviceModel>	
</configuration>